MAINICON ICON Icon_Normal.ico
FADEDICON RCDATA Icon_Faded.ico

AVATAR_EMPTY_145 RCDATA EMPTY145.PNG
AVATAR_EMPTY_32 RCDATA EMPTY32.PNG

Afghanistan RCDATA "Flags\Afghanistan.png"
Albania RCDATA "Flags\Albania.png"
Algeria RCDATA "Flags\Algeria.png"
American_Samoa RCDATA "Flags\American Samoa.png"
Andorra RCDATA "Flags\Andorra.png"
Angola RCDATA "Flags\Angola.png"
Anguilla RCDATA "Flags\Anguilla.png"
Antarctica RCDATA "Flags\Antarctica.png"
Antigua_and_Barbuda RCDATA "Flags\Antigua and Barbuda.png"
Argentina RCDATA "Flags\Argentina.png"
Armenia RCDATA "Flags\Armenia.png"
Aruba RCDATA "Flags\Aruba.png"
Australia RCDATA "Flags\Australia.png"
Austria RCDATA "Flags\Austria.png"
Azerbaijan RCDATA "Flags\Azerbaijan.png"
Bahamas RCDATA "Flags\Bahamas.png"
Bahrain RCDATA "Flags\Bahrain.png"
Bangladesh RCDATA "Flags\Bangladesh.png"
Barbados RCDATA "Flags\Barbados.png"
Belarus RCDATA "Flags\Belarus.png"
Belgium RCDATA "Flags\Belgium.png"
Belize RCDATA "Flags\Belize.png"
Benin RCDATA "Flags\Benin.png"
Bermuda RCDATA "Flags\Bermuda.png"
Bhutan RCDATA "Flags\Bhutan.png"
Bolivia RCDATA "Flags\Bolivia.png"
Bosnia_and_Herzegovina RCDATA "Flags\Bosnia and Herzegovina.png"
Botswana RCDATA "Flags\Botswana.png"
Brazil RCDATA "Flags\Brazil.png"
Brunei RCDATA "Flags\Brunei.png"
Bulgaria RCDATA "Flags\Bulgaria.png"
Burkina_Faso RCDATA "Flags\Burkina Faso.png"
Burundi RCDATA "Flags\Burundi.png"
Cambodia RCDATA "Flags\Cambodia.png"
Cameroon RCDATA "Flags\Cameroon.png"
Canada RCDATA "Flags\Canada.png"
Cape_Verde RCDATA "Flags\Cape Verde.png"
Cayman_Islands RCDATA "Flags\Cayman Islands.png"
Central_African_Republic RCDATA "Flags\Central African Republic.png"
Chad RCDATA "Flags\Chad.png"
Chile RCDATA "Flags\Chile.png"
China RCDATA "Flags\China.png"
Colombia RCDATA "Flags\Colombia.png"
Comoros RCDATA "Flags\Comoros.png"
Republic_of_the_Congo RCDATA "Flags\Republic of the Congo.png"
Democratic_Republic_of_the_Congo RCDATA "Flags\Democratic Republic of the Congo.png"
Costa_Rica RCDATA "Flags\Costa Rica.png"
Cote_dIvoire RCDATA "Flags\Cote dIvoire.png"
Croatia RCDATA "Flags\Croatia.png"
Cuba RCDATA "Flags\Cuba.png"
Cyprus RCDATA "Flags\Cyprus.png"
Czech_Republic RCDATA "Flags\Czech Republic.png"
Denmark RCDATA "Flags\Denmark.png"
Djibouti RCDATA "Flags\Djibouti.png"
Dominica RCDATA "Flags\Dominica.png"
Dominican_Republic RCDATA "Flags\Dominican Republic.png"
Ecuador RCDATA "Flags\Ecuador.png"
Egypt RCDATA "Flags\Egypt.png"
El_Salvador RCDATA "Flags\El Salvador.png"
Equatorial_Guinea RCDATA "Flags\Equatorial Guinea.png"
Eritrea RCDATA "Flags\Eritrea.png"
Estonia RCDATA "Flags\Estonia.png"
Ethiopia RCDATA "Flags\Ethiopia.png"
Falkland_Islands RCDATA "Flags\Falkland Islands.png"
Faroes RCDATA "Flags\Faroes.png"
Fiji RCDATA "Flags\Fiji.png"
Finland RCDATA "Flags\Finland.png"
France RCDATA "Flags\France.png"
Gabon RCDATA "Flags\Gabon.png"
Gambia RCDATA "Flags\Gambia.png"
Georgia RCDATA "Flags\Georgia.png"
Germany RCDATA "Flags\Germany.png"
Ghana RCDATA "Flags\Ghana.png"
Greece RCDATA "Flags\Greece.png"
Greenland RCDATA "Flags\Greenland.png"
Grenada RCDATA "Flags\Grenada.png"
Guam RCDATA "Flags\Guam.png"
Guatemala RCDATA "Flags\Guatemala.png"
Guinea RCDATA "Flags\Guinea.png"
Guinea_Bissau RCDATA "Flags\Guinea Bissau.png"
Guyana RCDATA "Flags\Guyana.png"
Haiti RCDATA "Flags\Haiti.png"
Vatican_City RCDATA "Flags\Vatican City.png"
Honduras RCDATA "Flags\Honduras.png"
Hong_Kong RCDATA "Flags\Hong Kong.png"
Hungary RCDATA "Flags\Hungary.png"
Iceland RCDATA "Flags\Iceland.png"
India RCDATA "Flags\India.png"
Indonesia RCDATA "Flags\Indonesia.png"
Iran RCDATA "Flags\Iran.png"
Iraq RCDATA "Flags\Iraq.png"
Ireland RCDATA "Flags\Ireland.png"
Israel RCDATA "Flags\Israel.png"
Italy RCDATA "Flags\Italy.png"
Jamaica RCDATA "Flags\Jamaica.png"
Japan RCDATA "Flags\Japan.png"
Jordan RCDATA "Flags\Jordan.png"
Kazakhstan RCDATA "Flags\Kazakhstan.png"
Kenya RCDATA "Flags\Kenya.png"
Kiribati RCDATA "Flags\Kiribati.png"
North_Korea RCDATA "Flags\North Korea.png"
South_Korea RCDATA "Flags\South Korea.png"
Kuwait RCDATA "Flags\Kuwait.png"
Kyrgyzstan RCDATA "Flags\Kyrgyzstan.png"
Laos RCDATA "Flags\Laos.png"
Latvia RCDATA "Flags\Latvia.png"
Lebanon RCDATA "Flags\Lebanon.png"
Lesotho RCDATA "Flags\Lesotho.png"
Liberia RCDATA "Flags\Liberia.png"
Libya RCDATA "Flags\Libya.png"
Liechtenstein RCDATA "Flags\Liechtenstein.png"
Lithuania RCDATA "Flags\Lithuania.png"
Luxembourg RCDATA "Flags\Luxembourg.png"
Macedonia RCDATA "Flags\Macedonia.png"
Madagascar RCDATA "Flags\Madagascar.png"
Malawi RCDATA "Flags\Malawi.png"
Malaysia RCDATA "Flags\Malaysia.png"
Maldives RCDATA "Flags\Maldives.png"
Mali RCDATA "Flags\Mali.png"
Malta RCDATA "Flags\Malta.png"
Marshall_Islands RCDATA "Flags\Marshall Islands.png"
Mauritania RCDATA "Flags\Mauritania.png"
Mauritius RCDATA "Flags\Mauritius.png"
Mexico RCDATA "Flags\Mexico.png"
Micronesia RCDATA "Flags\Micronesia.png"
Moldova RCDATA "Flags\Moldova.png"
Monaco RCDATA "Flags\Monaco.png"
Mongolia RCDATA "Flags\Mongolia.png"
Montserrat RCDATA "Flags\Montserrat.png"
Morocco RCDATA "Flags\Morocco.png"
Mozambique RCDATA "Flags\Mozambique.png"
Myanmar RCDATA "Flags\Myanmar.png"
Namibia RCDATA "Flags\Namibia.png"
Nauru RCDATA "Flags\Nauru.png"
Nepal RCDATA "Flags\Nepal.png"
Netherlands RCDATA "Flags\Netherlands.png"
Netherlands_Antilles RCDATA "Flags\Netherlands Antilles.png"
New_Zealand RCDATA "Flags\New Zealand.png"
Nicaragua RCDATA "Flags\Nicaragua.png"
Niger RCDATA "Flags\Niger.png"
Nigeria RCDATA "Flags\Nigeria.png"
Norfolk_Island RCDATA "Flags\Norfolk Island.png"
Northern_Mariana_Islands RCDATA "Flags\Northern Mariana Islands.png"
Norway RCDATA "Flags\Norway.png"
Oman RCDATA "Flags\Oman.png"
Pakistan RCDATA "Flags\Pakistan.png"
Palau RCDATA "Flags\Palau.png"
Palestine RCDATA "Flags\Palestine.png"
Panama RCDATA "Flags\Panama.png"
Papua_New_Guinea RCDATA "Flags\Papua New Guinea.png"
Paraguay RCDATA "Flags\Paraguay.png"
Peru RCDATA "Flags\Peru.png"
Philippines RCDATA "Flags\Philippines.png"
Pitcairn_Islands RCDATA "Flags\Pitcairn Islands.png"
Poland RCDATA "Flags\Poland.png"
Portugal RCDATA "Flags\Portugal.png"
Puerto_Rico RCDATA "Flags\Puerto Rico.png"
Qatar RCDATA "Flags\Qatar.png"
Romania RCDATA "Flags\Romania.png"
Russian_Federation RCDATA "Flags\Russian Federation.png"
Rwanda RCDATA "Flags\Rwanda.png"
Saint_Helena RCDATA "Flags\Saint Helena.png"
Saint_Kitts_and_Nevis RCDATA "Flags\Saint Kitts and Nevis.png"
Saint_Lucia RCDATA "Flags\Saint Lucia.png"
Saint_Vincent_and_the_Grenadines RCDATA "Flags\Saint Vincent and the Grenadines.png"
Samoa RCDATA "Flags\Samoa.png"
San_Marino RCDATA "Flags\San Marino.png"
Sao_Tome_and_Principe RCDATA "Flags\Sao Tome and Principe.png"
Saudi_Arabia RCDATA "Flags\Saudi Arabia.png"
Senegal RCDATA "Flags\Senegal.png"
Serbia RCDATA "Flags\Serbia.png"
Seychelles RCDATA "Flags\Seychelles.png"
Sierra_Leone RCDATA "Flags\Sierra Leone.png"
Singapore RCDATA "Flags\Singapore.png"
Slovakia RCDATA "Flags\Slovakia.png"
Slovenia RCDATA "Flags\Slovenia.png"
Solomon_Islands RCDATA "Flags\Solomon Islands.png"
Somalia RCDATA "Flags\Somalia.png"
South_Africa RCDATA "Flags\South Africa.png"
South_Georgia_and_the_South_Sandwich_Islands RCDATA "Flags\South Georgia and the South Sandwich Islands.png"
Spain RCDATA "Flags\Spain.png"
Sri_Lanka RCDATA "Flags\Sri Lanka.png"
Sudan RCDATA "Flags\Sudan.png"
Suriname RCDATA "Flags\Suriname.png"
Swaziland RCDATA "Flags\Swaziland.png"
Sweden RCDATA "Flags\Sweden.png"
Switzerland RCDATA "Flags\Switzerland.png"
Syria RCDATA "Flags\Syria.png"
Taiwan RCDATA "Flags\Taiwan.png"
Tajikistan RCDATA "Flags\Tajikistan.png"
Tanzania RCDATA "Flags\Tanzania.png"
Thailand RCDATA "Flags\Thailand.png"
East_Timor RCDATA "Flags\East_Timor.png"
Togo RCDATA "Flags\Togo.png"
Tonga RCDATA "Flags\Tonga.png"
Trinidad_and_Tobago RCDATA "Flags\Trinidad and Tobago.png"
Tunisia RCDATA "Flags\Tunisia.png"
Turkey RCDATA "Flags\Turkey.png"
Turkmenistan RCDATA "Flags\Turkmenistan.png"
Turks_and_Caicos_Islands RCDATA "Flags\Turks and Caicos Islands.png"
Tuvalu RCDATA "Flags\Tuvalu.png"
Uganda RCDATA "Flags\Uganda.png"
Ukraine RCDATA "Flags\Ukraine.png"
United_Arab_Emirates RCDATA "Flags\United Arab Emirates.png"
United_Kingdom RCDATA "Flags\United Kingdom.png"
United_States RCDATA "Flags\United States.png"
Uruguay RCDATA "Flags\Uruguay.png"
Uzbekistan RCDATA "Flags\Uzbekistan.png"
Vanuatu RCDATA "Flags\Vanuatu.png"
Venezuela RCDATA "Flags\Venezuela.png"
Vietnam RCDATA "Flags\Vietnam.png"
British_Virgin_Islands RCDATA "Flags\British Virgin Islands.png"
US_Virgin_Islands RCDATA "Flags\US Virgin Islands.png"
Western_Sahara RCDATA "Flags\Western Sahara.png"
Yemen RCDATA "Flags\Yemen.png"
Zambia RCDATA "Flags\Zambia.png"
Zimbabwe RCDATA "Flags\Zimbabwe.png"
World RCDATA "Flags\World.png"
